.status {
    background: #555;
    color: yellow;
}

.left-side-panel {
    width: 130px;
}

.dropdown-to-right {
    top: 0;
    left: 100%;
}

.s100x100 {
    width: 100px;
    height: 100px;
}

.navbar {
    margin-bottom: 0;
}

.main-frame {
    width: 100%;
    height: 600px;
    border: none;
}

.right-side-panel {
    width: 160px;
}

.center-panel {
}

.loginFrame {
    width: 100%;
    height: 60px;
    border: none;
}